[submodule "Xenode/deps/glfw"]
	path = Xenode/deps/glfw
	url = https://github.com/shreyaspranav/glfw.git
[submodule "Xenode/deps/spdlog"]
	path = Xenode/deps/spdlog
	url = https://github.com/shreyaspranav/spdlog.git
[submodule "Xenode/deps/imgui"]
	path = Xenode/deps/imgui
	url = https://github.com/shreyaspranav/imgui.git
[submodule "Xenode/deps/taskflow"]
	path = Xenode/deps/taskflow
	url = https://github.com/shreyaspranav/taskflow.git
[submodule "Xenode/deps/yaml-cpp"]
	path = Xenode/deps/yaml-cpp
	url = https://github.com/shreyaspranav/yaml-cpp.git
